__pycache__/
*.pyc
.env
.env.local
.env.dev
.env.qa
.env.example
.env.*
config/env.base
config/env.dev
config/env.qa
config/env.dev.example
config/env.qa.example
*.egg-info/
dist/
build/
.idea/
scripts/mysql-*.zip
scripts/mysql-*/
