# Example: Environment config
# Copy this file to env.<your-environment> and fill in the values
AWS_PROFILE=xxxx-profile
AWS_ENVIRONMENT=xx
AWS_REGION=us-west-x
AWS_INSTANCE=i-xxxxxxxxxx
AWS_CLUSTER=xxxxxxxxxx
DB_PORT=8xxx
KAFDROP_PORT=xxxx
DATABRICKS_PORT=xxxx
AWS_HOST=xxxx-xxxxx-data-infra-${AWS_ENVIRONMENT}-aurora-cluster.cluster-${AWS_CLUSTER}.${AWS_REGION}.rds.amazonaws.com
DATABRICKS_HOST=xxxx-lakehouse-${AWS_ENVIRONMENT}.cloud.databricks.com
